<div class="remove-container container-block">
<h2 class="container-block-title">References</h2>
<ul class="list-unstyled interests-list">
  <a target="_blank" href="https://www.linkedin.com/in/dr-lloyd-peters-a57a6598/"><li><b>Dr. Lloyd Peters</b></li></a>
  <p>Data Scientist | GA Instructor</p>
  <a target="_blank" href="https://www.linkedin.com/in/adrian-ricky-torres-6ba61616/"><li><b>Adrian Ricky Torres</b></li></a>
  <p>Former Asst. Vice President for Systems Development</p>
  
</ul>
</div><!--//About-->
