<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Very well-educated data scientist candidate with excellent statistical knowledge and the ability to identify fine points of data in a sea of information. Well-versed in spreadsheets, statistics, and scientific research. Able to process new data quickly and communicate it effectively to lay individuals. You can <a href="#" target="_blank">download this free resume/CV template here</a>.</p>
</div><!--//summary-->
</section><!--//section-->
