<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <!--<p>Passionate to disrupt industries, protect the world from cyberattacks, and be at the forefront of a revolutionary new technology
    </p>-->
    <p>Goal-Oriented graduate intern from McAfee with diverse experience in cyber security and 2 years as a Systems Programmer in the IT industry. Knowledge in McAfee Security tools and Networking Protocols. Seeking to contribute to the cyber security of one of Australia's greatest property portals and most recognisable brands and to become an Cyber Security Engineer with Domain.</p>
</div><!--//summary-->
</section><!--//section-->
