<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>Passionate about working with data and pursuing a Data Science career. I’m fascinated by how it can translate 
        complicated quantitative work into information that the business can understand and take action on. With a background 
        in System Implementation and Programming, I have always been interested in learning new technologies, tools and 
        approaches to find business insights. Now, with so much data available, I have decided to change careers and pursue 
        my interest in Data Science.
    </p>
</div><!--//summary-->
</section><!--//section-->
