 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Data Science Immersive</h4>
    <h5 class="meta">General Assembly Sydney</h5>
    <div class="time">2017 - 2018</div>
</div><!--//item-->
<div class="item">
    <h4 class="degree">Software Development</h4>
    <h5 class="meta">ACES Centre Sydney</h5>
    <div class="time">2011 - 2013</div>
</div><!--//item-->
<!--//<div class="item">
    <h4 class="degree">Business Administration</h4>
    <h5 class="meta">Bridge Business College</h5>
    <div class="time">2009 - 2011</div>
</div>item-->
  <div class="item">
    <h4 class="degree">Computer Science</h4>
    <h5 class="meta">Technological Institute of the Philippines</h5>
    <div class="time">2001 - 2005</div>
</div><!--//item-->
</div><!--//education-container-->
