<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Office Clerk</h3>
                            <div class="time">2017 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Sydney Waste Services, Sydney</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Manage complete data entry and customer support functions including answering 
				telephone and email enquiries in a timely manner.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">System Implementer & Programmer</h3>
                            <div class="time">2007 - 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Mannasoft Technology Corporation, Philippines</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I started out as a System Implementer where I handled the testing and implementation of 
				Timekeeping and Payroll systems. After several months, I was promoted to Programmer where I 
				was in charge of customisation of the timekeeping system.
			    </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
