<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
	<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Graduate Inside Sales Engineer</h3>
                            <div class="time">2018 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">McAfee, Sydney</div>
                    </div><!--//meta-->
                    <div class="details">
                        <!--<p>Applying my technical skills to help Sales Representatives and Sales Engineers.</p>  -->
			    <p>Graduate program in which the interns rotates between various departments of an organization which are Technical Support, Professional Service and Pre-Sales.</p>
			    <ul><li>Practical training security technologies inludes Endpoint Security, Data Loss Prevention and SIEM.</li></ul>
			    <ul><li>Gained knowledge & skills on how Technical Supports deals with customer’s concerns with McAfee’s SIEM.</li></ul>
			    <ul><li>Off-site experience with Professional Service to McAfee’s clients and gaining knowledge on deploying security tools and matching different needs of companies in integrating McAfee’s products. </li></ul>
  			    <ul><li>Familiar with access control methods and user account management principles (IAM)</ul></li>
			    <ul><li>Acquired theoretical knowledge and practical skills of TCP/IP protocols in networks?</ul></li>
	<ul><li>Knowledge on how monitoring security patch levels of the servers, Endpoints, network environments, and anti-virus systems.
</ul></li>
<ul><li>Practical understanding of OWASP </ul></li>
                    </div><!--//details-->
                </div><!--//item-->
	
                <!--<div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Office Clerk</h3>
                            <div class="time">2017 - 2017</div>
                        </div><!--//upper-row-->
                       <!--// <div class="company">Sydney Waste Services, Sydney</div>
                    </div><!--//meta-->
                   <!--// <div class="details">
                        <p>Manage complete data entry and customer support functions including answering 
				telephone and email enquiries in a timely manner.</p>  
                        
                    </div><!--//details-->
               <!--// </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">System Implementer & Programmer</h3>
                            <div class="time">2007 - 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Mannasoft Technology Corporation, Philippines</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I started out as a System Implementer where I handled the testing and implementation of 
				Timekeeping and Payroll systems. After several months, I was promoted to Programmer where I 
				was in charge of customisation of the timekeeping system.
			    </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
