<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Data Science Student</h3>
                            <div class="time">2017 - 2018</div>
                        </div><!--//upper-row-->
                        <div class="company">General Assembly, Sydney</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>
<b>Python</b><br>
	- Became proficient in Python language for Data Science<br>
<b>Git & Github</b><br>
	- Tracking changes & iterations using git commands from terminal<br>
<b>Exploratory Data Analysis</b><br>
	- applied advanced Numpy and Python skills to clean, analyze and test data from multiple messy datasets. Pandas & Pivot Tables,
	SciPy & Pivot Tables, Web Scraping, Bootstapping and Tableau<br>
<b>Classical Statistical Modeling</b><br>
	- Linear & Logistic Regression, Bias-Variance Tradeoff, Gradient Descent, Feature Selection, Regularization 
	& Optimization and K-Nearest Neighbors<br>
<b>Machine Learning Models</b><br>
	- Clustering, Ensemble Models, Natural Language Processing (NLP), Naive Bayes, Hadoop & MapReduce, 
	Hive & Spark and Time Series Analysis (ARIMA)<br>
<b>Advanced Topics & Trends</b><br>
	- Neural Network Basics, Recommender Systems, Multi-Armed Bandit (Bayesian) and Portfolio Development
                      </p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Office Clerk</h3>
                            <div class="time">2017 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">Sydney Waste Services, Sydney</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Data entry and customer service.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">System Implementer & Programmer</h3>
                            <div class="time">2007 - 2009</div>
                        </div><!--//upper-row-->
                        <div class="company">Mannasoft Technology Corporation, Philippines</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>I started out as a System Implementer where I handled the testing and implementation of 
				Timekeeping and Payroll systems. After several months, I was promoted to Programmer where I 
				was in charge of customisation of the timekeeping system.
			    </p>  
                    </div><!--//details-->
                </div><!--//item-->
                
            </section><!--//section-->
