<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Projects</h2>
                <div class="intro">
                    <p>The following is a summary of my projects from General Assembly. Please visit my GitHub and blog for more information regarding my other projects </p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/jobi03/CapstoneProject">Capstone Project</a></span> - <span class="project-tagline">Predicted future population using data from Census Australia 
                  and made Sentiment Analysis like Most Talkabout, Positive & Negative Reviews and Topic Modelling, from scraping Google Reviews
                  of salons around target areas of a business client who wants to open a hair dressing salon.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/jobi03/JobMarketAnalysis" target="_blank">Job Market Analysis</a></span> - 
                    <span class="project-tagline">Scraped Data related jobs of Indeed websites to analyse which features contributed on predicting salary. This project consists of testing the three major skills: 
                      collecting data by scraping a website, using natural language processing, and building a binary classifier.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="https://github.com/jobi03/HousePricePrediction" target="_blank">House Price Prediction</a></span> - <span class="project-tagline">Predicted sales prices and practice feature engineering using 
                  kaggle's Ames Housing dataset. Used statistical analysis to optimize investment and maximize return.</span>
                </div><!--//item-->
                
            </section><!--//section-->
