<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Programming Languages</h2>
                <table style="width:100%">
                    <td>
                      <tr>Python</tr>
                      <tr>SQL</tr>
                      <tr>Tableau</tr> 
                      <tr>AWS</tr> 
                      <tr>Microsoft SQL Server</tr>
                      <tr>Microsoft Excel</tr> 
                    </td>
                  <td>
                      <tr>Data Analysis</tr>
                      <tr>Predictive Modelling</tr>
                      <tr>Web Scraping</tr> 
                      <tr>Natural Language Processing</tr>
                    </td>
                   
        
                  </table>
            </section><!--//skills-section-->
