<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Programming Languages</h2>
                <table style="width:100%">
                   <tr>
                      <td>Python</td>
                      <td>Tableau</td> 
                      <td>Data Analysis</td>
                    </tr>
                    <tr>
                      <td>SQL</td>
                      <td>AWS</td> 
                      <td>Predictive Modelling</td>
                    </tr>
                    <tr>
                      <td>Java</td>
                      <td>Microsoft SQL Server</td> 
                      <td>Web Scraping</td>
                    </tr> 
                  
                  <tr>
                      <td>HTML/CSS</td>
                      <td>Microsoft Excel</td> 
                      <td>Natural Language Processing</td>
                    </tr> 
                  </table>
            </section><!--//skills-section-->
