<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Programming Languages</h2>
                <table style="width:100%">
                   <tr>
                      <td>Networking skills</td>
                      <td>Endpoint Security</td> 
                      <td>Data Analysis</td>
                    </tr>
                    <tr>
                      <td>Python</td>
                      <td>Data Loss Prevention</td> 
                      <td>Predictive Modelling</td>
                    </tr>
                    <tr>
                      <td>SQL</td>
                      <td>Advanced Threat Defense</td> 
                      <td>Web Scraping</td>
                    </tr> 
                  
                  <tr>
                      <td>HTML/CSS</td>
                      <td>Data Exchange Layer(DXL)</td> 
                      <td>Natural Language Processing</td>
                    </tr> 
                  
                  <tr>
                      <td>React</td>
                      <td>SIEM</td> 
                      <td>Sentiment Analysis</td>
                    </tr> 
                  <tr>
                      <td>AWS</td>
                      <td>AWS</td> 
                    </tr>
                  </table>
            </section><!--//skills-section-->
